body {
  background-color: #ccffff;
}
.panel {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #999;
  background-color: gold;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
ul {
  list-style-type: disc;
  padding-left: 20px;
}
header {
  width: 90%;
  padding: 20px;
  background-color: #33ccff;
  border-radius: 40px;
  text-align: center;
}
button {
  padding: 10px;
  font-size: 12;
  cursor: pointer;
  background-color: #00ff99;
  color: white;
  border-radius: 5px;
}
.modal {

  background-color: #00ff99;
}

.modal-content {
  background-color: #33ccff;
}
